{% extends 'fafs_api/base.html' %}

{% block side_block %}
    <ul class="nav nav-pills nav-stacked">
	{% for category in categories.response %}
	    <li role="presentation"> <a href="{% url 'category_detail' category.pk %}">{{ category.name }} </a></li>
	{% endfor %}
    <ul>
{% endblock %}

{% block body_block %}

    <h1> Welcome to the University of Virginia Free and For Sale <h1>
    <h2> New Items </h2>
    {% for product in products.response %}
      <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
      {% if not forloop.last %}
      |
      {% endif %}
    {% endfor %}

    <h2> Your Items </h2>

{% endblock %}
