{% extends 'fafs_api/base.html' %}
{% load humanize %}

{% block side_block %}
    <ul class="nav nav-pills nav-stacked">
	{% for category in categories.response %}
	    <li role="presentation"> <a href="{% url 'category_detail' category.pk %}">{{ category.name }} </a></li>
	{% endfor %}
    <ul>
{% endblock %}

{% block body_block %}

<h1>{{ product.name }}</h1>
<h2>Category: <a href="{% url 'category_detail' product.category_id %}">{{ product.category_name }}</a></h2>
<p>{{ product.description }}</p>
<h2>Pick up:</h2>
<p>{{ product.pick_up}}</p>
<h2>Price: ${{ product.price | intcomma }}</h2>
<h2>Date posted: {{ product.time_posted_readable }}</h2>
<h2>Date updated: {{ product.time_updated_readable }}</h2>

{% endblock %}
