{% extends 'fafs_api/base.html' %}
{% load humanize %}

{% block side_block %}
    <ul class="nav nav-pills nav-stacked">
	{% for category in categories.response %}
	    <li role="presentation"> <a href="#">{{ category.name }} </a></li>
	{% endfor %}
    <ul>
{% endblock %}

{% block body_block %}

<h1>{{ product.name }}</h1>
<h2>Category: {{ product.category_name }}</h2>
<p>{{ product.description }}</p>
<h2>Pick up:</h2>
<p>{{ product.pick_up}}</p>
<h2>Price: ${{ product.price | intcomma }}</h2>
<h2>Date posted: {{ product.time_posted_readable }}</h2>
<h2>Date updated: {{ product.time_updated_readable }}</h2>

{% endblock %}
