{% extends 'fafs_api/base.html' %}
{% load humanize %}

{% block side_block %}
    <ul class="nav nav-pills nav-stacked">
	{% for category in categories.response %}
	    <li role="presentation"> <a href="{% url 'category_detail' category.pk %}">{{ category.name }} </a></li>
	{% endfor %}
    <ul>
{% endblock %}

{% block body_block %}

        <form id="search_form" method="post" action="/fafs/search/" role="search">
            {% csrf_token %} 
            <div class="form-group">
            
            {{ search_form.non_field_errors }}

            {% csrf_token %}
            {% for hidden in search_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in search_form.visible_fields %}
                {{ field.help_text }}
		{{ field.label_tag }}
                <p> {{ field }} </p>
                {{ field.errors }}
                
            {% endfor %}
            </div>
            <input type="submit" name="submit" class="btn btn-default" value="Search" />
        </form>

</br>

        {% if status %}

      <table class="table table-bordered table-hover">
	<tr>
		<th> Name </th>
		<th> Description </th>
		<th> Price </th>
		<th> Pick-up Location </th>
	</tr>
        {% for hit in response %}
	<tr>
		<td> {{hit.name}} </td>
		<td> {{hit.description}} </td>
		<td> ${{hit.price}} </td>
		<td> {{hit.pick_up}} </td>
	</tr>
        {% endfor %}
      </table>
        {% else %}
	
	No results. 

        {% endif %}

{% endblock %}
